<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<div class="container" style="background-color:black">
  <div class="top">
    <div class="span7">
      <h5 class="h5Contact">
      	If there is any way that we can assist you, please contact us.
        <br/><br>
      	E-mail: superiordetailingservices@gmail.com
      	<br/><br/>
      	Ravi Bissoonnauth: (828)-768-4002
      	<br/><br/>
      	Jordan Ellege: (828)-335-8626
	    </h5>
      <br/>
    </div>

    <div class="span2 offset1">
    	<a href="https://www.facebook.com/superiordetailingpage"><%= image_tag("facebook-logo.jpg", alt: "Logo", width: "100", hieght: "100") %></a>
      <br/><br/><br/>
    </div>
  </div>
</div>
