<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
If there is any other way that we can assist you, please e-mail us at superiordetailingservices@gmail.com or call either Jordan Ellege (828-335-8626) or Ravi Bissoonnauth(828-768-4002) or visit our <a href="https://www.facebook.com/superiordetailingpage">facebook</a> page.
</p>