<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
        <%= render 'shared/appointment_form' %>

  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Superior Detailing</h1>

    <h2>
      This is the home page for the
      <a href="http://superiordetailing-services.com/">Superior Detailing Services</a>
      web application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
  <%= link_to image_tag("logo_3.jpg", alt: "Logo") %>
<% end %>