@import "bootstrap";

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.container {
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.top {
  padding:15px;  
}

.bottom {
  padding:15px;
}

.alignLeft {
  font-family:Georgia,Serif;
  text-align: left;
  color:white;
}

.alignRight {
  text-align: right;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

.homeHR {
  width: 290px;
}

.homeHR2 {
  width: 940px;
}

.aboutHR2 {
  width: 940px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  border-bottom-style:solid;
  color:white;
}

pre {
  font-family:Georgia,Serif;
  align:left;
  background-color:cornflowerblue;
  color:black;
  word-wrap: normal;
  white-space: wrap;
}

/* Home Page */

.h3Home {
  font-family:Georgia,Serif;
  font-size: 3em;
  letter-spacing: 0px;
  margin-bottom: 15px;
  text-align: left;
  color: #9e833e;
}

.h3Home2 {
  font-family:Georgia,Serif;
  font-size: 2em;
  letter-spacing: 0px;
  margin-bottom: 15px;
  text-align: left;
  color: white;
}

.h3Button {
  font-family:Georgia,Serif;
  letter-spacing: 0.5px;
}

/* Contact Page */

.h5Contact {
  font-family:Georgia,Serif;
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 15px;
  text-align: left;
  color: white;
}

/* About Page */

.h5About {
  font-family:Georgia,Serif;
  font-size: 1em;
  letter-spacing: 0px;
  margin-bottom: 15px;
  text-align: left;
  color: white;
}

.h5About2 {
  font-family:Georgia,Serif;
  font-size: 1.5em;
  letter-spacing: 0px;
  margin-bottom: 15px;
  text-align: left;
  color: white;
}

.h4About {
  font-family:Georgia,Serif;
  letter-spacing: 1px;
  line-height: 125%;
  margin-bottom: 15px;
  text-align: left;
  color: white;
}

/* Login Page */

.login {
  color:white;
}

.loginUI {
  padding: 15px;
  height: 15em;
  width: 32em;
  color:white;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid black;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

/* sidebar, Porfile Page */

.AppsBar {
  padding: 15px;
  height: 6em;
  width: 8em;
  color:darkgoldenrod;
  -moz-border-radius: 3em 1em 3em 1em;
  border-radius: 3em 1em 3em 1em;
}

.sideBar {
  padding: 15px;
  height: 30em;
  width: 20em;
  color:darkgoldenrod;
  -moz-border-radius: 5em 1em 5em 1em;
  border-radius: 5em 1em 5em 1em;
}

.AppsUI {
  padding: 15px;
  height: 30em;
  width: 42em;
  color:darkgoldenrod;
  -moz-border-radius: 1em 5em 1em 5em;
  border-radius: 1em 5em 1em 5em;
}

.EditUI {
  padding: 15px;
  height: 56em;
  width: 31em;
  color:white;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      line-height:150%;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 55%;
  height: 55%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* appointments table */

th {
  background-image: -moz-linear-gradient(top, #003, #009);
  background-image: -ms-linear-gradient(top, #003, #009);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#003), to(#009));
  background-image: -webkit-linear-gradient(top, #003, #009);  background-image: -o-linear-gradient(top, #003, #009);
  background-image: linear-gradient(top, #003, #009);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000033', endColorstr='#000099', GradientType=0);
  text-align:center;
  color:darkgoldenrod;
  font-weight:bold;
  padding:15px;
  font-size:17px;
}

td.alt {
  background-image: -moz-linear-gradient(top, #003, #009);
  background-image: -ms-linear-gradient(top, #003, #009);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#003), to(#009));
  background-image: -webkit-linear-gradient(top, #003, #009);  background-image: -o-linear-gradient(top, #003, #009);
  background-image: linear-gradient(top, #003, #009);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000033', endColorstr='#000099', GradientType=0);
  text-align:center;
  color:#ffffff;
  font-weight:bold;
  padding:15px;
  font-size:17px;
}

.thAbout1 {
  background-image: -moz-linear-gradient(top, #003, #009);
  background-image: -ms-linear-gradient(top, #003, #009);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#003), to(#009));
  background-image: -webkit-linear-gradient(top, #003, #009);  background-image: -o-linear-gradient(top, #003, #009);
  background-image: linear-gradient(top, #003, #009);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000033', endColorstr='#000099', GradientType=0);
  text-align:left;
  color:darkgoldenrod;
  font-weight:bold;
  padding:15px;
  width:350px;
  font-size:17px;
}

.thAbout2 {
  background-image: -moz-linear-gradient(top, #003, #009);
  background-image: -ms-linear-gradient(top, #003, #009);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#003), to(#009));
  background-image: -webkit-linear-gradient(top, #003, #009);  background-image: -o-linear-gradient(top, #003, #009);
  background-image: linear-gradient(top, #003, #009);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000033', endColorstr='#000099', GradientType=0);
  text-align:center;
  color:darkgoldenrod;
  font-weight:bold;
  padding:15px;
  width:50px;
  font-size:17px;
}

.thAbout {
  background-image: -moz-linear-gradient(top, #003, #009);
  background-image: -ms-linear-gradient(top, #003, #009);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#003), to(#009));
  background-image: -webkit-linear-gradient(top, #003, #009);  background-image: -o-linear-gradient(top, #003, #009);
  background-image: linear-gradient(top, #003, #009);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000033', endColorstr='#000099', GradientType=0);
  text-align:left;
  color:darkgoldenrod;
  font-weight:bold;
  padding:15px;
  font-size:17px;
}